:root {
  --page-h: max(100vh, 700px);
  --page-w: max(100vw, 1200px);
}

[hidden-scrollbar]::-webkit-scrollbar {
  display: none;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

[font-github-mono],
.font-github-mono {
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
}
